body {
    font-family: "microsoft yahei";
    font-size: 12px;
    background-color: #f5f7f7;
    position: relative;
    padding: 0;
    margin: 0;
}

a,a:link,a:hover,a:visited {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: #00b3f8
    }
}

input,button,textarea {
    outline: none;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px!important;
}
.w750 {
    width: 750px;
    margin: 0 auto;
}

.w150 {
    width: 150px;
}
.w805{
    width: 805px;
}
.container {
    width: 980px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    overflow: hidden;
    zoom: 1;
    &:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }
}