body {
    font-family: "microsoft yahei";
    font-size: 12px;
    background-color: #f5f7f7
}

a {
    cursor: pointer;
    &:hover {
        color: #00b3f8
    }
}

input,button,textarea {
    outline: none;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}
.w750{
    width: 750px;
    margin:0 auto;
}
.container {
    width: 980px;
    margin: 0 auto;
}