.questions {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding-bottom: 30px;
    .title {
        text-align: center;
        font-weight: normal;
        color: #666;
    }
    .desc {
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
        color: #666;
        padding-bottom: 15px;
        border-bottom: 1px dashed #999;
    }
    .submit {
        float: right;
        border: 1px solid #d8d8d8;
        background: #00b3f8;
        color: #fff;
        width: 100px;
        height: 40px;
        padding: 0;
    }
    .foot {
        margin: 20px auto;
        padding-top: 15px;
        font-size: 14px;
        border-top: 1px dashed #999;
    }
}