.questions {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding-bottom: 30px;
    .title {
        text-align: center;
        font-weight: normal;
        color: #888;
    }
    .info {
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px dashed #999;
    }
    .submit {
        float: right;
        border: 1px solid #d8d8d8;
        background: #00b3f8;
        color: #fff;
        width: 100px;
        height: 40px;
        padding: 0;
    }
    .foot {
        margin: 20px auto;
        padding-top: 15px;
        font-size: 14px;
        border-top: 1px dashed #999;
    }
}

.user-center {
    height: 100%;
    background-color: #fff;
    .padding {
        padding: 20px 50px;
    }
    .user-center-header {
        background-color: #1c222e;
        height: 60px;
        line-height: 60px;
        color: #fff;
        text-align: center;
        .title {
            font-size: 16px;
            margin-left: 15px;
            float: left;
        }
        .user-center-menu {
            display: inline-block;
            font-size: 20px;
            a {
                display: inline-block;
                color: #fff;
                padding: 0 25px;
                &:hover {
                    background-color: #2492c4;
                }
                &.active {
                    background-color: #2db7f5;
                }
            }
        }
        .username {
            float: right;
            margin-right: 15px;
            a {
                margin-left: 10px;
            }
        }
    }
    .user-center-subMenu {
        background-color: #3c4963;
        height: 36px;
        line-height: 36px;
        color: #fff;
        text-indent: 15px;
        span {
            color: #fff;
        }
        .arrow {
            padding: 0 5px;
        }
    }
    .user-center-body {
        background-color: #fff;
        // border-bottom: 1px solid #ebebeb;
        // border-top: 1px solid #ebebeb;
    }
    //概览
    .index{
        .newList{
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #dcdcdc;
        }
        .chart_line{
            width: 100%;
            height: 300px;
        }
    }
    //列表页
    .survey-manage-list {
        div {
            border-bottom: 1px dashed #d8d8d8;
            margin-bottom: 20px;
            padding-bottom: 10px;
            overflow: hidden;
            .add {
                width: 80px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #fff;
                background-color: #2db7f5;
                display: block;
                border-radius: 4px;
                float: left;
                &:active {
                    background-color: #2492c4;
                }
            }
            input {
                float: right;
                border: 1px solid #d8d8d8;
                width: 200px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                text-indent: 10px;
                border-radius: 4px;
            }
        }
        table {
            border-collapse: collapse;
            width: 100%;
            line-height: 40px;
            font-size: 14px;
            text-align: center;
            color: #666;
            tr {
                border-bottom: 1px solid #ccc;
                td:first-child, td:last-child {
                    text-align: left;
                }
                th:last-child {
                    width: 220px;
                }
                th:first-child, th:last-child {
                    text-align: left;
                }
            }
            thead {
                th {
                    font-weight: normal;
                }
            }
            tbody {
                select {
                    border: 1px solid #d8d8d8;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 4px;
                    font-size: 12px;
                    color: #616161;
                    padding: 0 5px;
                }
                a {
                    font-size: 12px;
                    color: #666;
                    margin-right: 8px;
                    &.clearData {
                        color: #999;
                    }
                    &:hover {
                        color: #00b3f8
                    }
                }
            }
        }
    }
    //编辑页
    .survey-edit {
        min-height: 300px;
        overflow: hidden;
        .question-setting {
            border: 1px solid #d8d8d8;
            width: 300px;
            height: 500px;
            margin: 0 auto;
            transition: all 0.5s;
            .question-setting-title {
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                text-indent: 25px;
                background-color: rgb(28, 34, 46);
                border-bottom: 1px solid #d8d8d8;
                color: #fff;
            }
            ul {
                width: 90%;
                margin: 0 auto;
                padding: 0;
                color: #999;
                li {
                    list-style: none;
                    padding: 10px 0;
                }
            }
            a {
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                text-align: center;
                border-radius: 4px;
                background-color: #2db7f5;
                float: right;
                &:active {
                    background-color: #2492c4;
                }
            }
            span {
                display: block;
                margin-bottom: 5px;
            }
            input[type=text], textarea, select {
                border: 1px solid #d8d8d8;
                width: 100%;
                color: #999;
                padding: 0;
            }
            input[type=text] {
                height: 30px;
                text-indent: 5px;
            }
            textarea {
                height: 80px;
            }
            select {
                height: 30px;
                line-height: 30px;
            }
        }
        .question-create {
            transition: all 2s;
            margin-left: 320px;
            position: relative;
            .question-option {
                position: fixed;
                top: 100px;
                text-align: center;
                width: 70px;
                a {
                    display: inline-block;
                    width: 60px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border: 1px solid #d8d8d8;
                    border-radius: 4px;
                    margin: 10px 0;
                    font-size: 14px;
                    color: #666;
                    &:active {
                        color: #666;
                        background-color: #d8d8d8;
                    }
                }
            }
            .question-list {
                margin-left: 80px;
                min-height: 300px;
                border: 4px dashed #d8d8d8;
                border-radius: 6px;
                padding: 20px 30px;
                .question-save {
                    padding-top: 10px;
                    border-top: 1px solid #d8d8d8;
                    margin-top: -1px;
                    overflow: hidden;
                    a {
                        width: 100px;
                        height: 30px;
                        line-height: 30px;
                        color: #fff;
                        text-align: center;
                        display: block;
                        background-color: #2db7f5;
                        border-radius: 4px;
                        float: right;
                        &:active {
                            background-color: #2492c4;
                        }
                    }
                }
                .question-blank {
                    margin-top: 50px;
                    line-height: 2em;
                    text-align: center;
                    font-size: 36px;
                    color: #d8d8d8;
                }
            }
        }
    }
    //统计页
    .statistics-list {
        .statistics-item {
            margin-bottom: 20px;
            .title {
                height: 30px;
                line-height: 30px;
                text-indent: 10px;
                background-color: #3c4963;
                color: #fff;
            }
            .body {
                border: 1px solid #d8d8d8;
            }
        }
        .chart{
            width: 100%;
            height: 400px;
        }
    }
}